{% extends "base.html" %}

{% block title %}Room{% endblock %}
{% load static %}
{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
    
    <script src="{% static 'battle/js/blockly/blockly_compressed.js' %}"></script>
    <script src="{% static 'battle/js/blockly/blocks_compressed.js' %}"></script>
    <script src="{% static 'battle/js/blockly/javascript_compressed.js' %}"></script>
    <script src="{% static 'battle/js/blockly/msg/js/fr.js' %}"></script>
    
    <script src="{% static 'battle/js/blockly/custom_blocks.js' %}"></script>
    <script src="{% static 'battle/js/blockly/custom_generators.js' %}"></script>
    
{% endblock %}

{% block header_text %}
    {{ room.game.title|title }} - 
    <span id="player-1">{{ room.player_one|default_if_none:"" }}</span>
    <span id="player-2">{{ room.player_two|default_if_none:"" }}</span>
    <ul class="room">
        <li class="leave">Quitter la partie</li>
    </ul>
{% endblock %}

{% block column_left %}
<div id="blocklyDiv" style="height: 600px; width: 600px;"></div>
<div id="show-code" class="button">Show code</div>
{% endblock %}

{% block column_middle %}
{% endblock %}

{% block column_right %}
<div id="opponentBlocklyDiv" style="height: 600px; width: 600px;"></div>

{% endblock %}

{% block footer %}
    <div id="chats"></div>

{% endblock %}


{% block content %}
{% endblock %}


{% block extra_body %}
<script>

    $(function () {
        var my_code;

        // Correctly decide between ws:// and wss://
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
        console.log("Connecting to " + ws_path);
        var socket = new ReconnectingWebSocket(ws_path);
        $('li.leave').click(function() {
            socket.send(JSON.stringify({
                "command": "leave",
                "room": "{{ room.id }}"
            }));
        });
        $('#show-code').click(function() {
                console.log('sending code' + Blockly.Xml.workspaceToDom(workspace));
                socket.send(JSON.stringify({
                    "command": "send_code",
                    "room": "{{ room.id }}",
                    "message": Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(workspace))
                }));
        });
        socket.onopen = function () {
            socket.send(JSON.stringify({
                "command": "join",
                "room": "{{ room.id }}"
            }));
            console.log("Connected to room {{ room.id }}" );
        };
        socket.onclose = function () {
            console.log("Disconnected from room {{ room.id }}");
        };

        // Handle incoming messages
        socket.onmessage = function (message) {
            // Decode the JSON
            console.log("Got websocket message " + message.data);
            var data = JSON.parse(message.data);

            // Handle errors
            if (data.error) {
                alert(data.error);
                return;
            };
            // Handle joining
            if (data.join) {
                console.log("Joining lobby " + data.join);
                var chatdiv = $(
                    "<div class='game' id='room-" + data.join + "'>" +
                    "<h2>" + "Chat" + "</h2>" +
                    "<div class='messages'></div>" +
                    "<form><input><button>Send</button></form>" +
                    "</div>"
                );
                // Hook up send button to send a message
                chatdiv.find("form").on("submit", function () {
                    socket.send(JSON.stringify({
                        "command": "send",
                        "room": data.join,
                        "message": chatdiv.find("input").val()
                    }));
                    chatdiv.find("input").val("");
                    return false;
                });
                $("#chats").append(chatdiv);

            } else if (data.leave) {
                console.log("Leaving game " + data.leave);
                close();
                return false;
            } else if (data.message || data.msg_type != 0) {
                var msgdiv = $("#room-" + data.room + " .messages");
                var ok_msg = "";
                // msg types are defined in chat/settings.py
                switch (data.msg_type) {
                    case 0:
                        // Message
                        ok_msg = "<div class='message'>" +
                            "<span class='username'>" + data.username + " : </span>" +
                            "<span class='body'>" + data.message + "</span>" +
                            "</div>";
                        break;
                    case 1:
                        // Warning / Advice messages
                        ok_msg = "<div class='contextual-message text-warning'>" + data.message +
                            "</div>";
                        break;
                    case 2:
                        // Alert / Danger messages
                        ok_msg = "<div class='contextual-message text-danger'>" + data.message +
                            "</div>";
                        break;
                    case 3:
                        // "Muted" messages
                        ok_msg = "<div class='contextual-message text-muted'>" + data.message +
                            "</div>";
                        break;
                    case 4:
                        // User joined Lobby
                        ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                            " a rejoint le salon" +
                            "</div>";
                        break;
                    case 5:
                        // User left Lobby
                        ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                            " a quitté le salon" +
                            "</div>";
                        break;
                    case 7:
                        // Receive opponent's workspace update
                        // ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                        //     " a quitté le salon" +
                        //     "</div>";
                        //console.log(data.message);
                        opponentWorkspace.clear();
                        Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom(data.message), opponentWorkspace);
                        break;
                    default:
                        console.log("Unsupported message type!");
                        return;
                };
                msgdiv.append(ok_msg);
                msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
            } else {
                console.log("Cannot handle message!");
            };
        };
        var workspace = Blockly.inject('blocklyDiv',
            { 
                toolbox: document.getElementById('myToolbox'),
                zoom: {startScale : 0.8}
            });
        function myUpdateFunction(event) {
            if (event.type != Blockly.Events.UI && event.type != Blockly.Events.CREATE) {
                my_code = Blockly.JavaScript.workspaceToCode(workspace);
                socket.send(JSON.stringify({
                    "command": "send_code",
                    "room": "{{ room.id }}",
                    "message": Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(workspace))
                }));
            }
        }
        workspace.addChangeListener(myUpdateFunction);
        var opponentWorkspace = Blockly.inject('opponentBlocklyDiv',
            {
                //toolbox: document.getElementById('myToolbox'),
                zoom: { startScale: 0.8 }
            });
    });
</script>
<xml id="myToolbox" style="display: none">
    <!--
  <block type="controls_if"></block>
  <block type="controls_repeat_ext"></block>
  <block type="logic_compare"></block>
  <block type="math_number"></block>
  <block type="math_arithmetic"></block>
-->
    <block type="logic_compare"></block>
    <block type="controls_if"></block>
    <block type="math_number"></block>
    <block type="text"></block>
    <block type="text_print"></block>
    <!--
  <block type="simulation_loop"></block>
-->
    <block type="update_control"></block>
    <block type="shoot"></block>
    <block type="input_position"></block>
    <block type="state_radar"></block>

</xml>
{% endblock %}
