{% extends "base.html" %}

{% block title %}Room{% endblock %}
{% load static %}
{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>
    
    <script src="{% static 'battle/js/blockly/blockly_compressed.js' %}"></script>
    <script src="{% static 'battle/js/blockly/blocks_compressed.js' %}"></script>
    <script src="{% static 'battle/js/blockly/javascript_compressed.js' %}"></script>
    <script src="{% static 'battle/js/blockly/msg/js/fr.js' %}"></script>
    
    <script src="{% static 'battle/js/blockly/custom_blocks.js' %}"></script>
    <script src="{% static 'battle/js/blockly/custom_generators.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'battle/js/jsbattle.min.js' %}"></script>
{% endblock %}

{% block header_text %}
    {{ room.game.title|title }} - 
    <span id="player-1">{{ room.player_one|default_if_none:"" }}</span>
    <span id="player-2">{{ room.player_two|default_if_none:"" }}</span>
    <ul class="room">
        <li class="leave">Quitter la partie</li>
    </ul>
{% endblock %}

{% block column_left %}
<div id="blocklyDiv" style="height: 600px; width: 600px;"></div>
<div id="share-workspace" class="button">Partager l'espace de travail</div>
<div id="show-code" class="button">Show code</div>
<div id="run-code" class="button">Run code</div>

{% endblock %}

{% block column_middle %}

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
        <canvas id="battlefield" style="width: 900px; height: 600px"></canvas>
    </div>

</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    // var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // // When the user clicks the button, open the modal 
    // btn.onclick = function () {
    //     modal.style.display = "block";
    // }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

    <div id="chats"></div>
{% endblock %}

{% block column_right %}
<div id="opponentBlocklyDiv" style="height: 600px; width: 600px; display:none;"></div>

{% endblock %}

{% block footer %}

{% endblock %}


{% block content %}
{% endblock %}


{% block extra_body %}
<script>

    $(function () {
        var assetsLoaded = false;
        var shareWorkspace = false;
        var sharingWorkspace = false;
        var enableWorkspaceControl = false;
        var opponentWorkspace;
        var my_code;
        var his_code = `
importScripts('lib/tank.js');
tank.init(function(settings, info) {

})
tank.loop(function(state, control) {
  control.THROTTLE = 1;
});`;
        // Socket management
        // Correctly decide between ws:// and wss://
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
        console.log("Connecting to " + ws_path);
        var socket = new ReconnectingWebSocket(ws_path);
        
        socket.onopen = function () {
            socket.send(JSON.stringify({
                "command": "join",
                "room": "{{ room.id }}"
            }));
            console.log("Connected to room {{ room.id }}" );
        };
        socket.onclose = function () {
            console.log("Disconnected from room {{ room.id }}");
        };

        // Handle incoming messages
        socket.onmessage = function (message) {
            // Decode the JSON
            console.log("Got websocket message " + message.data);
            var data = JSON.parse(message.data);

            // Handle errors
            if (data.error) {
                alert(data.error);
                return;
            };
            // Handle joining
            if (data.join) {
                console.log("Joining lobby " + data.join);
                var chatdiv = $(
                    "<div class='game' id='room-" + data.join + "'>" +
                    "<h2>" + "Chat" + "</h2>" +
                    "<div class='messages'></div>" +
                    "<form><input><button>Send</button></form>" +
                    "</div>"
                );
                // Hook up send button to send a message
                chatdiv.find("form").on("submit", function () {
                    socket.send(JSON.stringify({
                        "command": "send",
                        "room": data.join,
                        "message": chatdiv.find("input").val()
                    }));
                    chatdiv.find("input").val("");
                    return false;
                });
                $("#chats").append(chatdiv);

            } else if (data.leave) {
                console.log("Leaving game " + data.leave);
                close();
                return false;
            } else if (data.message || data.msg_type != 0) {
                var msgdiv = $("#room-" + data.room + " .messages");
                var ok_msg = "";
                // msg types are defined in chat/settings.py
                switch (data.msg_type) {
                    case 0:
                        // Message
                        ok_msg = "<div class='message'>" +
                            "<span class='username'>" + data.username + " : </span>" +
                            "<span class='body'>" + data.message + "</span>" +
                            "</div>";
                        break;
                    case 1:
                        // Enable workspace sharing
                        if (!shareWorkspace) {
                            shareWorkspace = true;
                            
                            ok_msg = "<div class='contextual-message text-warning'>" + data.username +
                                " partage son espace de travail</div>";
                            $('#opponentBlocklyDiv').css('display', 'block');
                            // Creates and populate opponent's workspace with base element
                            if (!opponentWorkspace) {
                                opponentWorkspace = Blockly.inject('opponentBlocklyDiv',
                                    {
                                        toolbox: document.getElementById('myToolbox'),
                                        zoom: { startScale: 0.8 }
                                    });                            
                            }
                            Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom(data.message), opponentWorkspace);
                        } else {
                            shareWorkspace = false;
                            
                            ok_msg = "<div class='contextual-message text-warning'>" + data.username +
                                " ne partage plus son espace de travail</div>";
                            opponentWorkspace.clear();
                            $('#opponentBlocklyDiv').css('display', 'none');
                        };
                        break;
                    case 2:
                        // Alert / Danger messages
                        ok_msg = "<div class='contextual-message text-danger'>" + data.message +
                            "</div>";
                        break;
                    case 3:
                        // "Muted" messages
                        ok_msg = "<div class='contextual-message text-muted'>" + data.message +
                            "</div>";
                        break;
                    case 4:
                        // User joined Lobby
                        ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                            " a rejoint le salon" +
                            "</div>";
                        break;
                    case 5:
                        // User left Lobby
                        ok_msg = "<div class='contextual-message text-muted'>" + data.username +
                            " a quitté le salon" +
                            "</div>";
                        break;
                    case 8:
                        opponentWorkspace.clear();
                        Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom(data.message), opponentWorkspace);
                        break;
                    default:
                        console.log("Unsupported message type!");
                        return;
                };
                msgdiv.append(ok_msg);
                msgdiv.scrollTop(msgdiv.prop("scrollHeight"));
            } else {
                console.log("Cannot handle message!");
            };
        };
        
        // Misc hookup functions
        $('li.leave').click(function () {
            socket.send(JSON.stringify({
                "command": "leave",
                "room": "{{ room.id }}"
            }));
        });
        
        $('#share-workspace').click(function () {
            var xml = Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(workspace));
            if (!sharingWorkspace) {
                sharingWorkspace = true;
                $('#share-workspace').text("Arrêter le partage");
            } else {
                sharingWorkspace = false;
                $('#share-workspace').text("Partager l'espace de travail");
            };
            console.log('sharing workspace' + xml);
            socket.send(JSON.stringify({
                "command": "share",
                "room": "{{ room.id }}",
                "message": xml
            }));
        });
        
        $('#show-code').click(function () {
            console.log('sending code' + Blockly.Xml.workspaceToDom(workspace));
            socket.send(JSON.stringify({
                "command": "send_code",
                "room": "{{ room.id }}",
                "message": Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(workspace))
            }));
        });
        $('#run-code').click(function () {
            console.log(my_code);
            console.log(his_code);
            var canvas = document.getElementById('battlefield');
            var renderer = JsBattle.createRenderer("brody");
            var simulation;
            renderer.init(canvas);
            if (!assetsLoaded) {
                renderer.loadAssets(() => {
                    assetsLoaded = true;
                    simulation = JsBattle.createSimulation(renderer);
                    simulation.init(900, 600);
                    var ai = JsBattle.createAiDefinition();
                    ai.fromCode('me', my_code);
                    simulation.addTank(ai);
                    ai = JsBattle.createAiDefinition();
                    ai.fromCode('him', his_code);
                    simulation.addTank(ai);
                    simulation.start();
                }, '/static/battle/');
            } else {
                simulation = JsBattle.createSimulation(renderer);
                simulation.init(900, 600);
                var ai = JsBattle.createAiDefinition();
                ai.fromCode('me', my_code);
                simulation.addTank(ai);
                ai = JsBattle.createAiDefinition();
                ai.fromCode('him', his_code);
                simulation.addTank(ai);
                simulation.start();
            };
            $('#myModal').css('display', 'block');

        });

        // Blockly workspace management
        // Initialize and populates my workspace
        var workspace = Blockly.inject('blocklyDiv',
            { 
                toolbox: document.getElementById('myToolbox'),
                zoom: {startScale : 0.8}
            });
        Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom('<xml><block type="simulation_loop" id="initial_loop" x="36" y="32" deletable="false" movable="false"></block></xml>'), workspace);
        function myUpdateFunction(event) {
            if (event.type != Blockly.Events.UI && event.type != Blockly.Events.CREATE) {
                my_code = Blockly.JavaScript.workspaceToCode(workspace);
                if (shareWorkspace) {
                    socket.send(JSON.stringify({
                        "command": "send_workspace",
                        "room": "{{ room.id }}",
                        "message": Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(workspace))
                    }));
                };
            };
            console.log('Updating my code : ' + my_code);
        };
        workspace.addChangeListener(myUpdateFunction);
        
    });
</script>
<xml id="myToolbox" style="display: none">
    <!--
  <block type="controls_if"></block>
  <block type="controls_repeat_ext"></block>
  <block type="logic_compare"></block>
  <block type="math_number"></block>
  <block type="math_arithmetic"></block>
-->
    <block type="logic_compare"></block>
    <block type="controls_if"></block>
    <block type="math_number"></block>
    <block type="text"></block>
    <block type="text_print"></block>
    <!--
  <block type="simulation_loop"></block>
-->
    <block type="update_control"></block>
    <block type="shoot"></block>
    <block type="input_position"></block>
    <block type="state_radar"></block>

</xml>
{% endblock %}
